<div class="faq-page">

    <div class="faq-page-container">
        <h1>
            FAQ
        </h1>
        <p>
            Friendly answers on questions
        </p>
        <div class="accordions">
            <div class="accordion">
                <details onclick="changeFaqBorder(this)">
                    <summary>
                        <h4>
                            Question 1
                        </h4>
                    </summary>
                    <p>
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Praesent accumsan ligula at dui mattis, nec vulputate magna tempor. Donec et purus vitae
                        nunc consectetur congue consectetur quis est. Morbi aliquam sem sed venenatis mattis.
                        Curabitur maximus diam purus, ut dapibus felis tempor quis.
                    </p>
                </details>
            </div>
            <div class="accordion">
                <details onclick="changeFaqBorder(this)">
                    <summary>
                        <h4>
                            Question 2
                        </h4>
                    </summary>
                    <p>
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Praesent accumsan ligula at dui mattis, nec vulputate magna tempor. Donec et purus vitae
                        nunc consectetur congue consectetur quis est. Morbi aliquam sem sed venenatis mattis.
                        Curabitur maximus diam purus, ut dapibus felis tempor quis.
                    </p>
                </details>
            </div>
            <div class="accordion">
                <details onclick="changeFaqBorder(this)">
                    <summary>
                        <h4>
                            Question 3
                        </h4>
                    </summary>
                    <p>
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Praesent accumsan ligula at dui mattis, nec vulputate magna tempor. Donec et purus vitae
                        nunc consectetur congue consectetur quis est. Morbi aliquam sem sed venenatis mattis.
                        Curabitur maximus diam purus, ut dapibus felis tempor quis.
                    </p>
                </details>
            </div>
            <div class="accordion">
                <details onclick="changeFaqBorder(this)">
                    <summary>
                        <h4>
                            Question 4
                        </h4>
                    </summary>
                    <p>
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Praesent accumsan ligula at dui mattis, nec vulputate magna tempor. Donec et purus vitae
                        nunc consectetur congue consectetur quis est. Morbi aliquam sem sed venenatis mattis.
                        Curabitur maximus diam purus, ut dapibus felis tempor quis.
                    </p>
                </details>
            </div>
            <div class="accordion">
                <details onclick="changeAccordionIcon(this)">
                    <summary>
                        <h4>
                            Question 5
                        </h4>
                    </summary>
                    <p>
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Praesent accumsan ligula at dui mattis, nec vulputate magna tempor. Donec et purus vitae
                        nunc consectetur congue consectetur quis est. Morbi aliquam sem sed venenatis mattis.
                        Curabitur maximus diam purus, ut dapibus felis tempor quis.
                    </p>
                </details>
            </div>
            <div class="accordion">
                <details onclick="changeFaqBorder(this)">
                    <summary>
                        <h4>
                            Question 6
                        </h4>
                    </summary>
                    <p>
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Praesent accumsan ligula at dui mattis, nec vulputate magna tempor. Donec et purus vitae
                        nunc consectetur congue consectetur quis est. Morbi aliquam sem sed venenatis mattis.
                        Curabitur maximus diam purus, ut dapibus felis tempor quis.
                    </p>
                </details>
            </div>
        </div>
    </div>
</div>
