.badge-outlined,
.badge {
    padding: 2px 12px;
    margin: 0 4px;
    border-radius: 16px;
    color: #26E5A1;
    background-color: rgba(38, 229, 161, 0.2);
}

.badge-outlined {
    display: flex;
    flex-direction: row;
    border: 1px solid #26E5A1;
    height: 30px;
}