.steps-container {
    display: flex;
    flex-direction: row;
    width: 550px;
    margin-bottom: 18px;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;

}
.step-content-selected,
.step-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #16191C;
    padding-left: 16px;
    font-size: 16px;
    border-radius: 8px;
    height: 50px;
}

.step-content {
    border: 1px solid #212931;
    border-right: 0;
}
.step-content-selected {
    border: 1px solid #26E5A1;
    border-right: 0;
}

.step {

}

.step-selected {

}
.step-triangle {
    width: 0;
    height: 0;
    margin-left: -2px;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-radius: 8px;
    border-left: 16px solid #16191C;
}
