.steps-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.step-selected,
.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin: 10px;
    background-color: #16191C;
    padding: 10px;
    border: 1px solid #26E5A1;
    position: relative;

}

.step {

}

.step-selected {

}
.step:after {
    content: '';
    background-color: linear-gradient(top left, #16191C, red);
    transform: rotate(45deg);
    position: absolute;
    top: 4px; right: -11px;
    width: 21px;
    height: 21px;
}​