.steps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
    margin-bottom: 18px;
}

.step-selected,
.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;

}
.step-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #16191C;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #26E5A1;
    border-right: 0;
    border-radius: 8px;
    height: 50px;

}

.step {

}

.step-selected {

}
.step-triangle {
    width: 0;
    height: 0;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-radius: 8px;
    border-left: 16px solid #16191C;
}
