.about-block1-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 112px 24px 0 24px;
}

.about-block2-container {
    max-width: 900px;
    align-items: center;
    align-content: center;
    padding: 80px;

}

.about-block2-bg1 {
    background-image: url("../assets/images/bg/about2-bg.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}
.about-block2-bg2 {
    background-color: rgba(9, 10, 11, 0.8);
}

.about-block1-bg {

}

.about-block1-container,
.about-block2-container {
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    justify-content: center;

    max-width: 1140px;
}

.about-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        padding-right: 18px;
    }

}

.img-link {
    width: 27px;
    margin-left: -4px;
}

.about-features {
    display: flex;
    flex-direction: row;
    margin: 40px 0 132px 0;
}

.about-features-desc {
    margin: 48px 0 20px 0;
}

.about-snipped {
    color: #26E5A1;
    border: 1px solid #26E5A1;
    border-radius: 8px;
    padding: 4px;
    height: 25px;
    width: 156px;
    font-size: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-benefits {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    margin-bottom: 40px;
}


.about-benefit-center,
.about-benefit {
    max-width: 220px;
    padding: 28px;
    border-top: 1px solid #171E24;
    border-bottom: 1px solid #171E24;
    background-image: url("../assets/images/bg/benefits-grid.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.about-benefit-center {
    max-width: 220px;
    padding: 28px;
    border: 1px solid #171E24;
}

.br-about {
    width: 100%;
    background-color: rgba(9, 10, 11, 0.9);
    height: 132px;
}