.header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #09090B;
    border-bottom: 1px solid #171E24;
    order: 100000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    height: 84px;

}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 360px;
    width: 100%;
    min-width: 320px;

    a {
        cursor: pointer;
    }
}

.breadcrumbs-selected {
    color: #26E5A1;
}

.login {
    display: flex;
    flex-direction: row;
    min-width: 224px;
    margin: 0 28px;
}

.vline {
    margin: 8px 24px 8px 20px;
}

.img-link {
    margin: 8px;
}

.logo {
    padding-top: 8px;
    margin: 0 24px;
    cursor: pointer;

}

@media (min-width: 0px) and (max-width: 840px) {
    .breadcrumbs {
        display: none;
    }
}