@font-face {
    font-family: 'manrope-semibold';
    src: url('../assets/fonts/Manrope/Manrope-SemiBold.ttf');
}

@font-face {
    font-family: 'manrope-medium';
    src: url('../assets/fonts/Manrope/Manrope-Medium.ttf');
}

@font-face {
    font-family: 'manrope-regular';
    src: url('../assets/fonts/Manrope/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'manrope-light';
    src: url('../assets/fonts/Manrope/Manrope-Light.ttf');
}

@font-face {
    font-family: 'inter';
    src: url('../assets/fonts/Inter/Inter-Regular.ttf');
}
html, body {
    min-height: 100%;
}
body {
    margin: 0;
    font-family: "manrope-medium", sans-serif;
    background-position: 98% 0;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #090A0B;
    color: #ECFFF8;
    width: 100%;
}


.badge-outline {
    color: #26E5A1;
    border: 1px solid #26E5A1;
    border-radius: 8px;
    margin: 0;
    height: 28px;
    width: 152px;
    font-size: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
}

.license {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    color: #26E5A1;
}

.license-grey {
    padding: 36px;
    display: flex;
    justify-content: center;
    color: #50677D;
}


.radio-inputs {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #050606;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    max-width: 464px;
    width: 100%;
    padding: 4px;
    height: 48px;
    border: 1px solid #171E24;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #50677D;
    transition: all .15s ease-in-out;

    font-family: "inter", sans-serif;
    font-size: 18px;
    font-weight: 467;
    height: 40px;
}

.radio-inputs .radio input:checked + .name {
    background-color: #0C0E0F;
}

.user-data-input {
    background-color: #0C0E0F;
    border: 1px solid #212931;
    border-radius: 8px;
    height: 64px;
    padding: 0 16px;
    font-size: 18px;
    color: #ECFFF8;
    display: flex;
    justify-content: center;

}

.user-data-input .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 24px;
    transition: all .15s ease-in-out;
    height: 24px;

}

input::placeholder {
    font-size: 18px;
    color: #394653;
    margin: 12px 8px;
}

input {
    padding: 24px;
}




.hr-v {
    border-color: #171E24;
    width: 0;
}

.hr-h {
    border-color: #171E24;
    width: 100%;
    margin: 0;
}

.vline-slant {
    margin: 0 16px;
}

.hline {
    width: 100%;
    margin-bottom: -4px;
}


