.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 24px 24px 24px;
}

.order-getstarted {
    max-width: 1116px;

    background-image: url("../assets/images/bg/getstarted-grid.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    border-radius: 12px;
    border: 1px solid #212931;

    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        margin-bottom: auto;
        margin-left: 140px;
        width: 100%;
        max-width: 540px;
        min-width: 460px;
    }

    .order-getstarted-desc {
        max-width: 434px;

        .order-getstarted-p {
            margin: 24px 0 32px 0;
            color: #50677D;
        }
    }
}


.booking-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    svg {
        margin: 40px 40px 0 40px;

        path {
            fill: #46525D;
        }
    }
}
@media (max-width: 1100px) {
    .order-getstarted {
        flex-direction: column;

        img {
            margin-top: 64px;
            margin-left: 0;
        }

        .order-getstarted-desc {
            max-width: none;

            h3 {
                text-align: center;
            }

            a {
                margin: 0 auto;
            }
        }
    }
}